# Foldery narzędziowe Visual Studio
.vs/
[Bb]in/
[Oo]bj/
out/

# Logi i bazy tymczasowe
*.log
*.suo
*.user
*.userosscache
*.sln.docstates

# Docker
.env
docker-compose.override.yml

# Pliki tymczasowe JetBrains/VS Code
.idea/
.vscode/
/backend/appsettings.json
